.about-description {
    width: 70%;
    margin: auto;

    .wp-block-heading {
        text-align: left;
    }

    .wp-block-image img {
        width: 100%;
        border-radius: 40px;
        height: auto;
    }

    p {
        text-align: justify;
    }
}