.forminator-guttenberg {
    color: #58abbe;
    font-family: Roboto, sans-serif !important;

    input, textarea {
        color: #58abbe !important;
        padding: 2em !important;
        border: 1px solid #58abbe !important;
        border-radius: 40px !important;
        background-color: transparent !important;
        text-transform: uppercase !important;

        &::placeholder {
            color: #58abbe !important;
        }
    }

    a {
        color: white !important;
        text-transform: uppercase !important;

        &:hover {
            color: #58abbe !important;
        }
    }

    button {
        color: #58abbe !important;
        font-family: impact, sans-serif !important;
        padding: 1em 2em !important;
        border: 1px solid #58abbe !important;
        border-radius: 40px !important;
        background-color: transparent !important;
        text-transform: uppercase !important;
        width: fit-content !important;

        &:hover {
            color: white !important;
            border-color: white !important;
            cursor: pointer !important;
        }
    }

    .forminator-field-name, .forminator-field-email {
        margin-right: 2em !important;
    }

    textarea {
        width: 100% !important;
    }

    .forminator-row:nth-child(4) {
        font-size: .8em !important;
    }
}

.forminator-field {
    display: flex !important;
    flex-direction: column !important;
}

.forminator-error-message, .forminator-error {
    color: red !important;
}

.forminator-error-message {
    margin: 1em !important;
}

.forminator-description {
    display: none !important;
}

@media screen and (min-width: 900px) {

    .forminator-row:last-of-type, .forminator-row:nth-child(4) {
        display: inline-block !important;
        margin: .5em !important;
    }

    .forminator-row:nth-child(4) {
        margin-left: 50% !important;
    }
}

@media screen and (max-width: 900px) {
    .forminator-row:nth-child(4) .forminator-field {
        align-items: flex-end !important;
    }

    .forminator-row:last-of-type .forminator-field {
        align-items: center !important;
    }
}